<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>pms</title>

    <meta name="keywords" content="pms"/>
    <meta name="description" content="pms"/>

    <link rel="shortcut icon" href="favicon.ico"/>
    <link href="hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet"/>
    <link href="hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet"/>
    <link href="hplus/css/animate.min.css" rel="stylesheet"/>
    <link href="hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet"/>
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-9 animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="file-box">
                        <div class="file">
                            <a href="/index">
                                <span class="corner"></span>
                                <div class="image">
                                    <img alt="image" class="img-responsive" src="hplus/img/p1.jpg"/>
                                </div>
                                <div class="file-name">
                                   PMS
                                </div>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="hplus/js/bootstrap.min.js?v=3.3.6"></script>
<script src="hplus/js/content.min.js?v=1.0.0"></script>
<script>
    $(document).ready(function(){$(".file-box").each(function(){animationHover(this,"pulse")})});
</script>
</body>
</html>
