<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>菜单管理</title>
    <meta name="keywords" content="用户管理"/>
    <meta name="description" content="用户管理"/>

    <link href="favicon.ico" rel="shortcut icon"/>
    <link th:href="@{/hplus/css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet"/>
    <link th:href="@{/hplus/css/font-awesome.min93e3.css?v=4.4.0}" rel="stylesheet"/>
    <link th:href="@{/hplus/css/plugins/jqgrid/ui.jqgridffe4.css?0820}" rel="stylesheet"/>
    <link th:href="@{/hplus/css/animate.min.css}" rel="stylesheet"/>
    <link th:href="@{/hplus/css/style.min862f.css?v=4.1.0}" rel="stylesheet"/>

    <style>
        #alertmod_table_list_2 {
            top: 900px !important;
        }
    </style>
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>用户管理</h5>
                    </div>
                    <div class="ibox-content">
                        <h4 class="m-t">用户管理</h4>
                        <div class="jqGrid_wrapper">
                            <table id="table_list_2"></table>
                            <div id="pager_list_2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/hplus/js/jquery.min.js?v=2.1.4}"></script>
    <script th:src="@{/hplus/js/bootstrap.min.js?v=3.3.6}"></script>
    <script th:src="@{/hplus/js/plugins/peity/jquery.peity.min.js}"></script>
    <script th:src="@{/hplus/js/plugins/jqgrid/i18n/grid.locale-cnffe4.js?0820}"></script>
    <script th:src="@{/hplus/js/plugins/jqgrid/jquery.jqGrid.minffe4.js?0820}"></script>
    <script th:src="@{/hplus/js/content.min.js?v=1.0.0}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var $path_base = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>
    <script th:src="@{/js/system/user.js?v=1.0.0}"></script>
</body>
</html>
